/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v17
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteCtrl.sln
/RemoteCtrl/x64/Debug
/RemoteCtrl/RemoteClient/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
